@model PM.Entity.Models.Note

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreateNote">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NoteText" class="control-label"></label>
				<textarea asp-for="NoteText" rows="5" cols="200" class="form-control"></textarea>
				<span asp-validation-for="NoteText" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="CreatedBy" />
			<input type="hidden" asp-for="CreatedOn" />
			<input type="hidden" asp-for="UpdatedBy" />
			<input type="hidden" asp-for="UpdatedOn" />
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
