@using PM.Business.Dto
@model PM.Entity.Models.Product

@{
	ViewData["Title"] = "Create";
}

<h1>Add a product</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreateProduct">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="ProductName" class="control-label">Product</label>
				<input asp-for="ProductName" class="form-control" />
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductDescription" class="control-label">Description</label>
				<input asp-for="ProductDescription" class="form-control" />
				<span asp-validation-for="ProductDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Upccode" class="control-label">UPC</label>
				<input asp-for="Upccode" class="form-control" />
				<span asp-validation-for="Upccode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductLocation" class="control-label">Location</label>
				<input asp-for="ProductLocation" class="form-control" />
				<span asp-validation-for="ProductLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductCost" class="control-label">Cost</label>
				<input asp-for="ProductCost" class="form-control" />
				<span asp-validation-for="ProductCost" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductPrice" class="control-label">Price</label>
				<input asp-for="ProductPrice" class="form-control" />
				<span asp-validation-for="ProductPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PackageSize" class="control-label">Package Size</label>
				<input asp-for="PackageSize" class="form-control" />
				<span asp-validation-for="PackageSize" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PackageType" class="control-label">Package Type</label>
				<input asp-for="PackageType" class="form-control" />
				<span asp-validation-for="PackageType" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="OrderWeek" class="control-label">Order Week</label>
				<input asp-for="OrderWeek" class="form-control" />
				<span asp-validation-for="OrderWeek" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CategoryId" class="control-label">Category</label>
				<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
			</div>
			<input type="hidden" asp-for="CreatedBy" />
			<input type="hidden" asp-for="CreatedOn" />
			<input type="hidden" asp-for="UpdatedBy" />
			<input type="hidden" asp-for="UpdatedOn" />

			<div class="form-group" id="submitNormal">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
			<div class="form-group" id="submitWithPackage" style="display: none">
				<input type="submit" asp-action="CreateProductAndPackage" asp-route-id="@RequestDto.RequestId" value="Create with Package" class="btn btn-success" />
			</div>
			<div class="form-group">
				<label asp-for="ProductName" class="control-label">Create alternate package</label>
				<input type="checkbox" id="chkChoice" onchange="swapElements('submitWithPackage', 'submitNormal', 'chkChoice');" />
			</div>
		</form>
	</div>
</div>
<div>
	@if (@PM.Business.Dto.RequestDto.RequestId != null)
	{
		<a asp-controller="Requests" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId">Back to Request</a> <br />
	}
	<a asp-action="Index" asp-controller="Requests">Back to Request List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
