@model PM.Entity.Models.ContainerSizeType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Container Size Units of Measurement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
	        Units of Measurement
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerSizeTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
