@using PM.Business.Dto
@model PM.Entity.Models.ProductPackageType

@{
    ViewData["Title"] = "Create";
}

<h1>Create a package type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        <label asp-for="AlternateProductName" class="control-label">Product (alt)</label>
		        <input asp-for="AlternateProductName" class="form-control" />
		        <span asp-validation-for="AlternateProductName" class="text-danger"></span>
	        </div>
	        <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="Unit" class="control-label">Units Per Case</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
	        <div class="form-group">
                <label asp-for="AlternateProductUpccode" class="control-label">UPC Code (alt)</label>
                <input asp-for="AlternateProductUpccode" class="form-control" />
                <span asp-validation-for="AlternateProductUpccode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierData" class="control-label">Supplier ID</label>
                <input asp-for="SupplierData" class="form-control" />
                <span asp-validation-for="SupplierData" class="text-danger"></span>
            </div>
	        <div class="form-group">
		        <label asp-for="SupplierId" class="control-label">Supplier</label>
		        <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
	        </div>
	        <div class="form-group">
		        <label asp-for="AlternateProductCost" class="control-label">Cost (alt)</label>
		        <input asp-for="AlternateProductCost" class="form-control" />
		        <span asp-validation-for="AlternateProductCost" class="text-danger"></span>
	        </div>
            <div class="form-group">
                <label asp-for="AlternateProductPrice" class="control-label">Suggested Retail Price (alt)</label>
                <input asp-for="AlternateProductPrice" class="form-control" />
                <span asp-validation-for="AlternateProductPrice" class="text-danger"></span>
            </div>
	        <input type="hidden" asp-for="CreatedBy" />
	        <input type="hidden" asp-for="CreatedOn" />
	        <input type="hidden" asp-for="UpdatedBy" />
	        <input type="hidden" asp-for="UpdatedOn" />
            
	        <div class="form-group" id="submitNormal">
		        <input type="submit" value="Create" class="btn btn-primary" />
	        </div>
	        <div class="form-group" id="submitAndRepeat" style="display: none">
		        <input type="submit" asp-action="Create" asp-route-id=@ViewData["ProductId"] asp-route-Multiple="true" value="Create and Repeat" class="btn btn-primary" />
	        </div>
	        <div class="form-group">
		        <label class="control-label">Create and Repeat</label>
		        <input type="checkbox" id="chkChoice" onchange="swapElements('submitAndRepeat', 'submitNormal', 'chkChoice');" />
	        </div>
        </form>
    </div>
</div>

<div>
	<a asp-action="Index" asp-route-id="@ViewData["ProductId"]">Back to Package Types List</a> <br />
	<a asp-controller="Requests" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId">Back to Request</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
